.progress-bar {
  width: 25%;
}

#firebtn {
  width: 33%;
}

body {
  display: grid;

  grid-columns: auto auto auto auto;

  grid-rows: 20% 60% 20%;
}

.col-4 {
  width = 25%;
  grid-column-span: 1;
}

.col-2 {
  width = 50%;
  grid-column-span: 2;
}

.healthbar {
  display: block;
  width: 100%;
}

.enemy-health {
  display: block;
  grid-col: 1;
}

.personal-health {
  display: block;
  grid-column: 3;
}

.toolbar {
  display: block;
  width: 100%;
  grid-row:3;
}

.coins {
  display: block;
  grid-col: 1;
  grid-row: 3;
}

.fire-creep {
  display: block;
  grid-col: 2;
  grid-row: 3;
}

.turret-bank {
  display: block;
  grid-col: 4;
  grid-row: 3;

}
